:root {
    /* colours */
    --additional-highlights: #308ae2;
    --highlight-colour: #23bbbe;
    --dark-background: #161a34;
    --main-text: #161a34;
    --main-background: #f5f7f9;
    --alter-text: #ffffff;
    /* more colours */
    --price: #f9af00;
    /* fonts */
    --logo-font: 'Viga', sans-serif;
    --main-font: 'Oswald', sans-serif;
    /* widths */
    --navigation-start: 5%;
    --navigation-end: 25%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-text);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

header {
    color: var(--alter-text);
}

#logo {
    font-family: var(--logo-font);
    font-size: 40px;
    color: var(--highlight-colour);
}

#nav-bar ul {
    padding: 0;
}

#nav-bar ul li {
    list-style: none;
}

.nav-link {
    background-color: var(--highlight-colour);
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.nav-link a {
    color: var(--alter-text);
    text-decoration: none;
}

#nav-bar {
    position: fixed;
    top: 5vh;
    width: var(--navigation-start);
    z-index: 100;
}

#nav-bar:hover {
    animation-name: navigation;
    animation-duration: 1s;
}

@keyframes navigation {
    0% {
        width: var(--navigation-start);
    }
    100% {
        width: var(--navigation-end);
    }
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    left: 10px;
    font-size: 30px;
}

#back-to-top a {
    color: var(--highlight-colour);
}

main {
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2, 1fr;
}

.info-image {
    max-height: 400px;
    display: block;
    width: auto;
    margin: auto;
}

h2 {
    text-align: center;
    left: 100px;
    color: var(--alter-text);
    text-shadow: 2px 2px 5px var(--dark-background);
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

section:nth-child(odd) {
    background-color: var(--main-background);
}

section:nth-child(even) {
    background-color: var(--dark-background);
}

section {
    min-height: 100vh;
}

#carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide-navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 5em;
}

.slide-navigation a {
    color: var(--price);
}

.video iframe {
    width: 80vw;
    height: 80vh;
}

.video, .subscribe {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--alter-text);
}

.products a {
    text-decoration: none;
    color: var(--alter-text);
}

.product {
    padding: 20px;
    background-color: var(--dark-background);
}

.product img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

.price {
    text-align: center;
    color: var(--price);
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.order {
    margin: 10px;
    background-color: var(--highlight-colour);
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

footer {
    background-color: var(--dark-background);
}